/* font import */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set dont family on html */
html {
  font-family: "Fredoka One", cursive;
}

/* basic text related setup */
p,
label,
input {
  font-size: 1.2rem;
  text-align: center;
}

div p {
  display: grid;
  padding: 0.5rem;
}

div p span {
  padding: 0.5rem;
}

/* input formatting */
input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: rgb(232, 240, 254);
  font-family: "Fredoka One", cursive;
}

.wrapper {
  background-color: #c84c09;
  display: grid;
  place-items: center;
  height: 100vh;
}

.last-data {
  display: grid;
  height: 20vh;
}

.last-data span {
  padding: 0.5rem;
}

.last-data span:first-child,
.last-data span:last-child {
  font-weight: bold;
}

.history-container {
  width: 80%;
  height: 40vh;
  margin: 0 auto;
}

.history-title {
  font-weight: bold;
  padding: 1rem;
  border-top: black 1px dashed;
  border-bottom: black 1px dashed;
}

.history-list {
  height: 30vh;
  overflow: scroll;
}

.history-list p {
  background-color: rgb(232, 240, 254);
  border-radius: 1.5rem;
  margin-top: 1rem;
}

/* form setup */

#form {
  display: grid;
  text-align: center;
  height: 40vh;
}

#form label {
  margin-top: 1rem;
}

#form input {
  margin-top: 0.5rem;
}
