/* font import */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* colors */
:root {
  --main-bg-color: #49416d;
  --button-bg-color: #b3f2dd;
  --history-card-bg-color: #e08d79;
  --main-text-color: #e0efde;
  --input-text-color: #49416d;
  --font-family: "Fredoka One", sans-serif;
}

/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set dont family on html */
html {
  font-family: var(--font-family);
  color: var(--main-text-color);
  letter-spacing: 2px;
}

/* basic text related setup */
p,
label,
input {
  font-size: 1.2rem;
  text-align: center;
}

div p {
  display: grid;
  padding: 0.5rem;
}

div p span {
  padding: 0.5rem;
}

/* input formatting */
input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  height: 2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: var(--main-text-color);
  color: var(--input-text-color);
  font-family: "Fredoka One", cursive;

  /* fix the auto complete bug */
  -webkit-box-shadow: 0 0 0px 1000px var(--main-text-color) inset;
  -webkit-text-fill-color: var(--input-text-color);
}

input[type="submit"] {
  background-color: var(--button-bg-color);
  color: var(--input-text-color);
  width: 8rem;

  /* fix the auto complete */
  -webkit-box-shadow: 0 0 0px 1000px var(--button-bg-color) inset;
}

.wrapper {
  background-color: var(--main-bg-color);
  display: grid;
  place-items: center;
  height: 100vh;
}

.last-data {
  display: grid;
  height: 20vh;
}

.last-data span {
  padding: 0.5rem;
}

.history-container {
  width: 80%;
  height: 40vh;
  margin: 0 auto;
}

.history-title {
  padding: 1rem;
  border-top: var(--main-text-color) 1px dashed;
  border-bottom: var(--main-text-color) 1px dashed;
}

.history-list {
  height: 30vh;
  overflow: scroll;
}

.history-list p {
  background-color: var(--history-card-bg-color);
  border-radius: 1.5rem;
  margin-top: 1rem;
}

/* form setup */

#form {
  display: grid;
  place-items: center;
  height: 40vh;
}

#form label {
  margin-top: 1rem;
}

#form input {
  margin-top: 0.5rem;
}
